body{
    overflow: hidden;
    padding-left: 15px;
    padding-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    margin-left: 30px;
    margin-top:-5px;
    width:2000px;
}

h2{
    margin-left: 0px;
    height:50px;
    margin-top:-1000px;
    color: black;
}
.h3{
    margin-left: 30px;
    margin-top:10px;
    width:2000px;
}
.bio{
    margin-top: -10px;
}
.Row{
    margin-top: 200px;
    margin-left: 30px;
    background-color: rgba(0, 0, 255, 0);
    display: flex;
    flex-direction: row;
    width: 200px;
    padding-left: 100px ;
}

.Col{
    justify-content: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: -150px;
    background-color: rgba(0, 255, 255, 0);
    display: flex;
    flex-direction: column;
    height: 40%;
}
.social{
    margin-top: 100px;
    margin-left:-1350px;

}
.soc{
    margin-top: 160px;
    margin-left:-75px;
   
}
.contact{
    margin-top: 100px;
    margin-left:90px;
}
.morecontact{
    margin-top: 160px;
    margin-left:0px;
}

.bio{
    height: 100px;
    border-radius: 20px;
    padding-left: 10px;
    padding-top: 10px;
    width: 300px;
    margin-left: 0;
}

input{
    width: 300px;
    height: 40px;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
}

button{
    height: 40px;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    width: 150px;

}
.b{
    margin-top: 20px;
    margin-left: 35px
}

.pfp{
    margin-top: 0px;
    margin-left: -90px;
    height:150px;
    width: 150px;
    border-radius: 75px;
    background-color: gray;
}

.pic{
    margin-left: -95px;
}
.i2{
    width: 350px;
}