body {
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(0, 0, 0);
    font-size: 45px;
    text-align: left;
    margin-left: 20px;
}

h2 {
    font-size: 25px;
    margin-left: 20px;
}

.Customize {
    position: absolute;
    top: 10px;
    right: 20px;
}

.Grade {
    margin-top: 150px;
    text-indent: 9%;
}

h3.Exam {
    border: solid 2px black;
    text-align: center;
    margin-top: -40px;
}

.Graph {
    text-indent: 9%;
    margin-top: 50px;
}

.Overdue,
.Today,
.Upcoming {
    text-align: right;
    margin-right: 190px;
}

.Overdue {
    margin-top: -100px;
}

.Today {
    margin-top: -40px;
}

.Upcoming {
    margin-top: -40px;
}

img {
    position: absolute;
    top: 600px;
    right: 50px;
    width: 600px;
}

hr {
    border-bottom: 2px solid #000;
}

hr:nth-child(3) {
    width: 2px;
    height: 300px;
    border-left: 2px solid black;
    position: absolute;
    left: 30%;
    transform: translateX(-50%);
    margin-top: -1%;
}

hr:nth-child(4) {
    width: 2px;
    height: 300px;
    border-left: 2px solid black;
    position: absolute;
    left: 70%;
    transform: translateX(-50%);
    margin-top: -1%;
}
