body {
    background-color: black;
}
.column{
    width:1895px;
    height: 75px;
    background-color:white;
    border-width: 3;
    margin-left: -2;
    margin-top: -5;
    color:black

}
.flex{
    position: absolute;
    margin-top: -100px;
    width:600px;
    height: 10px;

    background-color: rgb(253, 253, 253);
    border-color: grey;
    border-width: 3;
}

    .Button1{
        position: absolute;
        margin-top: -10px;
        margin-left: 1250px;
        background-color: lightgray;
        color:black;
        height: 45;
        width:170;
        border-radius: 30px;
    }
    .Button2{
        position: absolute;
        margin-top: -10px;
        margin-left:950px;
        background-color: lightgray;
        color:black;
        height: 45;
        width:170;
        border-radius: 30px;
    }
    .Button3{
        position: absolute;
        margin-top: -10px;
        margin-left: 1550px;
        background-color: lightgray;
        color:black;
        height: 45;
        width:170;
        border-radius: 30px;
        
    }
    .drop{
        position: absolute;
        margin-top: -32px;
        margin-left: -5px;
        background-color:  white;
        color:black;
        font-size: 25px;
        width: 475px;
        border-width: 3;
        height: 65;
        margin-left: -2;
        
    }
    h1{
        font-size: 45px;
        color:black;
        text-align: left;

    }
    
    h2{
        font-size: 30px;
        color:white;
        text-align: left;
        
    }
    .rem{
        position: absolute;
        margin-top: 2px;
        margin-left: 1183px;
        background-color: white;
        color:Black;
        height: 800;
        width:710;
        font-size: 25px;
        text-align: center;
        border-width: 3;
    }
    .dash{
        position: absolute;
        margin-top: 200px;
        margin-left:-10px;
        background-color: white;
        color:Black;
        height: 800;
        width:1191;
        font-size: 25px;
        text-align: center;
        border-width: 3;
    }
    .news{
        position: absolute;
        margin-top: 2px;
        margin-left:-10px;
        background-color: white;
        color:Black;
        height: 196;
        width:1191;
        font-size: 25px;
        text-align: center;
        border-width: 3;
    }
  


